
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cloud Printing Options</title>
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <style>
        tr td{border: 0!important;}
    </style>
</head>

<body>
	<!-- START NAV -->
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="../">
					<h3>Cloud Printer</h3>
				</a>
				<span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</div>
		</div>
	</nav>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-5-desktop is-4-widescreen">
              <form action="" method="post" class="box">
                  {{ form.hidden_tag() }}

                <div class="field">
                  <label for="" class="label">Full Name</label>
                  <div class="control has-icons-left">
                      <input id="name" maxlength="200" minlength="4" class="input" name="name" placeholder="Enter Your Full Name" required="" type="text" value=""><span class="icon is-small is-left">
                      <i class="fa fa-address-card"></i>
                    </span>
                  </div>
                </div>

                  <div class="field">
                  <label for="" class="label">Email</label>
                  <div class="control has-icons-left">
                      <input id="email" maxlength="120" minlength="10" name="email" class="input" placeholder="Email Address" required="" type="text" value="">
                      <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>

                  <div class="field">
                  <label for="" class="label">Username</label>
                  <div class="control has-icons-left">
                      <input id="username" maxlength="20" minlength="4" name="username" class="input" placeholder="Username" required type="text" value="">
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>


                <div class="field">
                  <label for="" class="label">Password</label>
                  <div class="control has-icons-left">
                      <input id="password" maxlength="20" class="input" minlength="4" name="password" placeholder="Password" required type="password" value="">
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>

                  <div class="field">
                  <label for="" class="label">Confirm Password</label>
                  <div class="control has-icons-left">
                      <input id="password_confirm" maxlength="20" class="input" minlength="4" name="password_confirm" placeholder="Confirm Your Password" required="" type="password" value=""><span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>

                  <div class="field">
                  <label for="" class="label">Student ID</label>
                  <div class="control has-icons-left">
                      <input id="student_id"  class="input" maxlength="8" minlength="4" name="student_id" placeholder="Enter Your ID Number" required="" type="text" value="">
                      <span class="icon is-small is-left">
                      <i class="fa fa-graduation-cap"></i>
                    </span>
                  </div>
                </div>

                    <div class="field">
                  <label for="" class="label">Student ID</label>
                  <div class="control has-icons-left">
                      <input id="mobile_number" class="input" maxlength="12" minlength="4" name="mobile_number" placeholder="Enter Your Mobile Number" required="" type="text" value="">
                      <span class="icon is-small is-left">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                    <input id="submit" class="button is-success" name="submit" type="submit" value="Register">
                </div>
              </form>
                Already have an account? <a class="has-text-info" href="{{url_for("login")}}">Login</a><br>
            </div>
          </div>
        </div>
      </div>
   </section>
  </body>
</html>

